<%- include("partials/header") -%>
<%- include("partials/chooseone") -%>
 
<h1 class="branchNotes-heading">Automobiles</h1>

 

<section class="resource-margin" >
<div class="row deskRow mobilerow">
    <% allAutoFiles.forEach(function(autoFiles) {  %>
      <div class="card  cshadow">
        <div class="card-body ">
        <h5 class="card-title"><%= autoFiles.fileTitle %></h5>
        <div class="">
          <a href="/uploads/<%= autoFiles.pdf%>"><img  class="pdf-image" src="images/myicon8.gif" alt="pdf_image"></a>
        </div>
      </div>
    </div>
    <% }) %>

  </div>
</section>

 
<%- include("partials/footer") -%>