<%- include("partials/header") -%>
<%- include("partials/chooseone") -%>
<div class="container">
<h1 class="branchNotes-heading">Civil</h1>

<section class="resource-margin" >
<div class="row">
      <% allCiviilFiles.forEach(function(civilFiles) {  %>
      <div class="card mb-5 mx-2 col-sm-6 cshadow" style="width: 18rem;background-color:#DDDDDD; ">
        <div class="card-body ">
        <h5 class="card-title"><%= civilFiles.fileTitle %></h5>
        <div class="">
          <a href="/uploads/<%= civilFiles.pdf%>"><img style="border-radius:100%;"  class="pdf-image" src="images/dilip.jpg" alt="pdf_image"></a>
        </div>
      </div>
    </div>
    <% }) %>

  </div>
</section>



<%- include("partials/footer") -%>
