<%- include("partials/header") -%>


<style>
  .collegueHeading{
    font-size: 3rem; 
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
  }
  p, a{
    margin: 0;padding: 0;
  }
.card{
   width: 18rem;
   margin: 20px;
   overflow: hidden;
   box-shadow: 5px 5px 5px 5px #34495e ;
   border-radius: 0.5rem;
  }

.addNewItem{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #000;
   letter-spacing: 2px;
  }

 
.allCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
.fontstyle{ 
  color: #000;
  font-size: 4rem;
}  
.card_body{ 
  border-bottom-right-radius: 5px ;
  border-bottom-left-radius: 5px; 
  text-align: left;
  font-family: "Poppins", Helvertica, sans-serif;
}

.card .card_body {
  padding: 2rem;
}
.card_title:hover, .card:hover , .card_body:hover{
  color:#fff;
}
.card_title {
  font-size: 1em;
  margin: 0; 
}
.card_imgflex{
  display: flex;
  justify-content: center;
  
}
.card-img { 
   height: 105px;
  width: 105px;
  margin-bottom: 10px; 
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
  border: 2px solid #fff;
}



</style>

<h2 class="collegueHeading">Be Connect With Your Colleagues</h2>

  <div class="allCard">
 
    <div class="card addNewItem">
       <a  href="/createnewcollegue"><span class="addprofile"><i   class="fa-circle-plus  fa-solid fa-plus fontstyle"> <br><p class="mt-3">Add</p></i></span></a>
    </div>
 
    <% allCollegues.forEach(function(collegue) { %>
    <div class="card">
     
       <div class="card_body">
        <div class="card_imgflex">
          <img class="card-img"  src="./uploads/<%=collegue.collegueimg%>" alt="uploaded_images">
  
        </div>
          <strong   class="card_title"> <span>Name : </span><%= collegue.colleguename %> </strong>
          <p ><span>Session : </span><%= collegue.colleguesession %></p>
          <p ><span>College : </span><%= collegue.colleguecollege %></p> %>
          <a href="<%= collegue.colleguecontacturl %>"><button class="btn   mt-2">Connect</button></a>
       </div>
       </div>
  <% })  %>
 
  </div>
  
  <%- include("partials/footer") -%>