<%- include("partials/header") -%>
<%- include("partials/chooseone") -%>
 
<h1 class="branchNotes-heading"> Computer Science  </h1>
 
<section class="resource-margin" >
<div class="row deskRow mobilerow">
    <% allCseFiles.forEach(function(cseFiles) {  %>
      <div class="card  cshadow" >
        <div class="card-body ">
        <h5 class="card-title"><%= cseFiles.fileTitle %></h5>
          <a href="/uploads/<%= cseFiles.pdf%>"><img  class="pdf-image" src="images/myicon8.gif" alt="pdf_image"></a>
      </div>
    </div>
    <% }) %>
  </div>
</section>

<%- include("partials/footer") -%>