<%- include("partials/header") -%>
<%- include("partials/chooseone") -%>
 
<h1 class="branchNotes-heading">Elctronics</h1>

<section class="resource-margin" >
<div class="row deskRow mobilerow">
    <% allEceFiles.forEach(function(eceFiles) {  %>
      <div class="card  cshadow" >
        <div class="card-body ">
        <h5 class="card-title"><%= eceFiles.fileTitle %></h5>
        <div class="">
          <a href="/uploads/<%= eceFiles.pdf%>"><img   class="pdf-image" src="images/dilip.jpg" alt="pdf_image"></a>
        </div>
      </div>
    </div>
    <% }) %>

  </div>
</section>

<%- include("partials/footer") -%>