<%- include("partials/header") -%>
<%- include("partials/chooseone") -%>
    <div class="container">


<section >
<div class="row">
    <% allfiles.forEach(function(files) { %>
      <div class="card mb-5 mx-2 col-mid-6 cshadow" style="width: 18rem; background-color:#DDDDDD">
        <div class="card-body ">
          <a href="/uploads/<%= files.pdf%>"><img style="border-radius:100%;" class="pdf-image" src="images/dilip.jpg" alt="pdf_image"></a>
          <h5 class="card-title"><%= files.fileTitle %></h5>
        </div>
      </div>
  <% })  %>
</div>
</section>

<%- include("partials/footer") -%>
