<%- include("partials/header") -%>
<%- include("partials/chooseone") -%>
    <!-- <div class="container"> -->


<section id="allresources-mobile" >
<div class="row deskRow mobileresources">
    <% allfiles.forEach(function(files) { %>
      <div  class="card mb-5 mx-3 col-mid-9 cshadow resource-card" >
        <div class="card-body">
          <a href="/uploads/<%= files.pdf%>"><img style="border-radius:100%;" class="pdf-image" src="images/dilip.jpg" alt="pdf_image"></a>
          <h5 class="card-title"><%= files.fileTitle %></h5>
        </div>
      </div>
  <% })  %>
</div>
</section>


<%- include("partials/footer") -%>